Repository zhenjiao-ms/TeamsFx, changes with the owners that .github/CODEOWNERS names for each.
All owners: @1openwindow, @HuihuiWu-Microsoft, @nliu-ms, @kimizhu, @swatDong, @kuojianlu, @a1exwang, @qinezh, @XiaofuHuang, @xiaolang124, @meifans, @dooriya, @jayzhang, @jiayi-ruan, @timngmsft, @chagong, @Alive-Fish, @KennethBWSong, @adashen, @xzf0587, @henzhang-ms, @eriolchan, @hund030, @1yefuwang1, @LongOddCode, @tecton, @blackchoey, @SLdragon, @dilin-MS, @wenytang-ms, @IvanJobs, @YitongFeng-git

.github/CODEOWNERS:

# Lines starting with '#' are comments.
# Each line is a file pattern followed by one or more owners.

# More details are here: https://help.github.com/articles/about-codeowners/

# Order is important. The last matching pattern has the most precedence.
# The folders are ordered as follows:

# In each subsection folders are ordered first by depth, then alphabetically.
# This should make it easy to add new rules without breaking existing ones.

/packages/vscode-extension @1openwindow @HuihuiWu-Microsoft @nliu-ms
/packages/vscode-extension/src/commonlib @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya
/packages/vscode-extension/src/qm @jayzhang @1openwindow @jiayi-ruan @HuihuiWu-Microsoft @nliu-ms
/packages/vscode-extension/src/debug @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya
/packages/vscode-extension/test/suite/envChecker @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya
/packages/vscode-extension/src/resources/Strings.json @timngmsft @1openwindow

/packages/cli @chagong @Alive-Fish @jiayi-ruan
/packages/cli/src/commonlib @kimizhu @swatDong @kuojianlu @a1exwang @qinezh @XiaofuHuang @xiaolang124 @meifans @dooriya
/packages/cli/tests/e2e/aad @KennethBWSong @adashen
/packages/cli/tests/e2e/simpleauth @KennethBWSong @adashen
/packages/cli/tests/e2e/sql @xzf0587 @adashen
/packages/cli/tests/e2e/apim @XiaofuHuang @dooriya @kimizhu
/packages/cli/tests/e2e/function @henzhang-ms @eriolchan @hund030
/packages/cli/tests/e2e/frontend @hund030 @eriolchan @henzhang-ms

/packages/api @jayzhang @1yefuwang1 @LongOddCode
/packages/api/src/qm @jayzhang @1yefuwang1 @LongOddCode @jiayi-ruan
/packages/api/src/ci @jayzhang @1yefuwang1 @LongOddCode @Alive-Fish @KennethBWSong @XiaofuHuang @henzhang-ms @eriolchan

/packages/sdk @tecton @blackchoey @SLdragon @dilin-MS @wenytang-ms

/packages/fx-core/src/core @jayzhang @LongOddCode @1yefuwang1
/packages/fx-core/src/plugins/solution/fx-solution @1yefuwang1 @jayzhang @LongOddCode

/packages/fx-core/src/plugins/resource/aad @KennethBWSong @adashen
/packages/fx-core/tests/plugins/resource/aad @KennethBWSong @adashen

/packages/fx-core/src/plugins/resource/apim @XiaofuHuang @dooriya @kimizhu
/packages/fx-core/tests/plugins/resource/apim @XiaofuHuang @dooriya @kimizhu

/packages/fx-core/src/plugins/resource/appstudio @nliu-ms @jayzhang
/packages/fx-core/tests/plugins/resource/appstudio @nliu-ms @jayzhang

/packages/fx-core/src/plugins/resource/spfx @jiayi-ruan @nliu-ms @jayzhang
/packages/fx-core/tests/plugins/resource/spfx @jiayi-ruan @nliu-ms @jayzhang

/packages/fx-core/src/plugins/resource/bot @IvanJobs @eriolchan @YitongFeng-git
/packages/fx-core/tests/plugins/resource/bot @IvanJobs @eriolchan @YitongFeng-git

/packages/fx-core/src/plugins/resource/frontend @hund030 @eriolchan @henzhang-ms
/packages/fx-core/tests/plugins/resource/frontend @hund030 @eriolchan @henzhang-ms

/packages/fx-core/src/plugins/resource/function @henzhang-ms @eriolchan @hund030
/packages/fx-core/tests/plugins/resource/function @henzhang-ms @eriolchan @hund030

/packages/fx-core/src/plugins/resource/identity @xzf0587 @adashen
/packages/fx-core/tests/plugins/resource/identity @xzf0587 @adashen

/packages/fx-core/src/plugins/resource/sql @xzf0587 @adashen
/packages/fx-core/tests/plugins/resource/sql @xzf0587 @adashen

/packages/fx-core/src/plugins/resource/localdebug @swatDong @kuojianlu
/packages/fx-core/tests/plugins/resource/localdebug @swatDong @kuojianlu

/packages/fx-core/src/plugins/resource/simpleauth @KennethBWSong @adashen
/packages/fx-core/tests/plugins/resource/simpleauth @KennethBWSong @adashen

/packages/simpleauth @adashen @blackchoey @wenytang-ms

/packages/function-extension @adashen @blackchoey @dilin-MS

feat: error handling to reduce unhandled error
  packages/fx-core/src/plugins/resource/frontend/plugin.ts
Owners: @hund030, @eriolchan, @henzhang-ms

feat: reduce unhandled errors
  packages/fx-core/src/plugins/resource/frontend/configs.ts
  packages/fx-core/src/plugins/resource/frontend/plugin.ts
  packages/fx-core/src/plugins/resource/frontend/resources/errors.ts
Owners: @hund030, @eriolchan, @henzhang-ms

feat: refine error messages
  packages/fx-core/src/plugins/resource/frontend/ops/deploy.ts
  packages/fx-core/src/plugins/resource/frontend/plugin.ts
  packages/fx-core/src/plugins/resource/frontend/resources/errors.ts
  packages/fx-core/tests/plugins/resource/frontend/unit/config.test.ts
  packages/fx-core/tests/plugins/resource/frontend/unit/index.test.ts
Owners: @hund030, @eriolchan, @henzhang-ms

fix: remove checkLog as default suggestion
  packages/fx-core/src/plugins/resource/frontend/resources/errors.ts
Owners: @hund030, @eriolchan, @henzhang-ms

fix: missing . for tips
  packages/fx-core/src/plugins/resource/frontend/resources/errors.ts
Owners: @hund030, @eriolchan, @henzhang-ms

fix: missing quote
  packages/fx-core/src/plugins/resource/frontend/resources/errors.ts
Owners: @hund030, @eriolchan, @henzhang-ms

feat: add issue link
  packages/fx-core/src/plugins/resource/frontend/constants.ts
Owners: @hund030, @eriolchan, @henzhang-ms

fix: restrict sas token life
  packages/fx-core/src/plugins/resource/frontend/clients.ts
Owners: @hund030, @eriolchan, @henzhang-ms

feat: update
  packages/api/src/qm/question.ts
  packages/api/src/qm/validation.ts
  packages/api/src/qm/visitor.ts
  packages/fx-core/src/core/executor.ts
  packages/fx-core/src/core/question.ts
Owners: @jayzhang, @1yefuwang1, @LongOddCode, @jiayi-ruan

feat: update core's api
  packages/api/src/core.ts
Owners: @jayzhang, @1yefuwang1, @LongOddCode

fix(apim): minor fix APIM readme and help document
  docs/fx-core/apim-help.md
  packages/fx-core/src/plugins/resource/apim/model/operation.ts
  packages/fx-core/templates/plugins/resource/apim/README.md
Owners: @XiaofuHuang, @dooriya, @kimizhu
